In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('C:/Users/Ai/Box/Data_science_project_datasets/amz_uk_processed_data/amz_uk_processed_data.csv')

In [4]:
dataset.head(5)

,asin,title,imgUrl,productURL,stars,reviews,price,isBestSeller,boughtInLastMonth,categoryName
0,B09B96TG33,"Echo Dot (5th generation, 2022 release) | Big ...",https://m.media-amazon.com/images/I/71C3lbbeLs...,https://www.amazon.co.uk/dp/B09B96TG33,4.7,15308,21.99,False,0,Hi-Fi Speakers
1,B01HTH3C8S,"Anker Soundcore mini, Super-Portable Bluetooth...",https://m.media-amazon.com/images/I/61c5rSxwP0...,https://www.amazon.co.uk/dp/B01HTH3C8S,4.7,98099,23.99,True,0,Hi-Fi Speakers
2,B09B8YWXDF,"Echo Dot (5th generation, 2022 release) | Big ...",https://m.media-amazon.com/images/I/61j3SEUjMJ...,https://www.amazon.co.uk/dp/B09B8YWXDF,4.7,15308,21.99,False,0,Hi-Fi Speakers
3,B09B8T5VGV,"Echo Dot with clock (5th generation, 2022 rele...",https://m.media-amazon.com/images/I/71yf6yTNWS...,https://www.amazon.co.uk/dp/B09B8T5VGV,4.7,7205,31.99,False,0,Hi-Fi Speakers
4,B09WX6QD65,Introducing Echo Pop | Full sound compact Wi-F...,https://m.media-amazon.com/images/I/613dEoF9-r...,https://www.amazon.co.uk/dp/B09WX6QD65,4.6,1881,17.99,False,0,Hi-Fi Speakers

In [5]:
dataset.describe()

              stars       reviews         price  boughtInLastMonth
count  2.222742e+06  2.222742e+06  2.222742e+06       2.222742e+06
mean   2.031870e+00  3.821617e+02  9.425737e+01       1.856902e+01
std    2.185497e+00  5.020752e+03  3.606225e+02       1.919030e+02
min    0.000000e+00  0.000000e+00  0.000000e+00       0.000000e+00
25%    0.000000e+00  0.000000e+00  1.000000e+01       0.000000e+00
50%    0.000000e+00  0.000000e+00  1.990000e+01       0.000000e+00
75%    4.400000e+00  4.400000e+01  4.771000e+01       0.000000e+00
max    5.000000e+00  1.356658e+06  1.000000e+05       5.000000e+04

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2222742 entries, 0 to 2222741
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   asin               object
 1   title              object
 2   imgUrl             object
 3   productURL         object
 4   stars              float64
 5   reviews            int64
 6   price              float64
 7   isBestSeller       bool
 8   boughtInLastMonth  int64
 9   categoryName       object
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 154.7+ MB

In [7]:
print("unique categories are: ",len(dataset['categoryName'].unique()))
print("unique ASIN are:",round(len(dataset['asin'].unique())/1000000,2),"M")

unique categories are:  296
unique ASIN are: 2.22 M

In [9]:
dataset[dataset['reviews'] == dataset['reviews'].max()]['boughtInLastMonth'].value_counts()

0    10
Name: boughtInLastMonth, dtype: int64

In [10]:
dataset[dataset['boughtInLastMonth']==dataset['boughtInLastMonth'].max()]

,asin,title,imgUrl,productURL,stars,reviews,price,isBestSeller,boughtInLastMonth,categoryName
205639,B001MZV3OO,Catsan Hygiene Cat Litter 20L,https://m.media-amazon.com/images/I/71bURZaHfF...,https://www.amazon.co.uk/dp/B001MZV3OO,4.7,31204,14.99,False,50000,Pet Supplies
1557617,B004OCO20E,Andrex Gentle Clean Toilet Rolls - 45 Toilet R...,https://m.media-amazon.com/images/I/81K5VbVsCx...,https://www.amazon.co.uk/dp/B004OCO20E,4.6,44511,22.22,False,50000,Grocery

In [15]:
dataset[dataset['boughtInLastMonth']!= 0]['boughtInLastMonth'].value_counts()

50       63601
100      44173
200      17509
300       9523
400       5996
1000      5424
500       4059
600       2815
700       2030
800       1594
2000      1521
900       1320
3000       675
4000       348
5000       227
10000      139
6000       136
7000        91
8000        59
9000        56
20000       14
50000        2
30000        2
40000        1
Name: boughtInLastMonth, dtype: int64